.user-info-avatar{
    height: 50px;
    width: 50px;
    border-radius: var(--border-redius-primary);
    margin-right: calc(var(--margin-primary)/4);
}
.user-info-verified{
    height: 20px;
    width: 20px;
}
.name-work-user p{
    margin-bottom: 0;
    padding-bottom: 5px;
}
.user-info {
    margin-bottom: calc(var(--margin-primary)/4);
}

.name-work-user h6{
    font-weight: var(--font-weight-bold);
}